.body{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;
}

.big-button-container{
    border:2px solid #861c1c;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;       
    
}

.image-button-container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

.nut-ammount-label{
    text-align: center;
}

.doughnut-img{
    grid-column-start: 1;
    grid-column-end: 4;
}

.base{
    display: grid;
    grid-template-columns: 70% 30%;
    border: 2px solid #0e49a1;
}
#order-preview{
    grid-row-start: 1;
    grid-row-end: 3;
}

.header{
    border: 2px solid #1dad10
}

















.main-layout{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
        "summary" "taxes"
        "payment" "payment";
}







