.body{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;
}

.big-button-container{
    border:5px solid #861c1c;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    
}

.image-button-container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}
.doughnut-img{
    grid-column-start: 1;
    grid-column-end: 4;
}




.base{
    border:5px solid #0e49a1;
}
.header{
    border: 5px solid #1dad10
}
